extends layout

block content
  
  // Offcanvas Menu Begin
  .offcanvas__menu__overlay
  .offcanvas__menu__wrapper
    .canvas__close
      span.fa.fa-times-circle-o
    .offcanvas__logo
      a(href='#')
        img(src='images/logo.png' alt='')
    nav.offcanvas__menu.mobile-menu
      ul
        li.active
          a(href='/') Home
        li
          a(href='/servers') Servers
        li
          a(href='/hostings') Hosting
        li
          a(href='/clientes') Customers
        li
          a(href='/') Contact
    #mobile-menu-wrap
    .offcanvas__auth
      ul
        li
          a(href='#')
            span.icon_chat_alt
            |  Live chat
        li
          a(href='/login')
            span.fa.fa-user
            |  Login
    .offcanvas__info
      ul
        li
          span.icon_phone
          |  +1 123-456-7890
        li
          span.fa.fa-envelope
          |  Support@gmail.com
  // Offcanvas Menu End
  // Header Section Begin
  header.header-section
    .header__info
      .container
        .row
          .col-lg-6.col-md-6
            .header__info-left
              ul
                li
                  span.icon_phone
                  |  +1 123-456-7890
                li
                  span.fa.fa-envelope
                  |  Support@gmail.com
          .col-lg-6.col-md-6
            .header__info-right
              ul
                li
                  a(href='#')
                    span.icon_chat_alt
                    |  Live chat
                li
                  a(href='/login')
                    span.fa.fa-user
                    |  Login
    .container
      .row
        .col-lg-3.col-md-3
          .header__logo
            a(href='/')
              img(src='images/logo.png' alt='')
        .col-lg-9.col-md-9
          nav.header__menu
            ul
              li.active
                a(href='/') Home
              li
                a(href='/servers') Servers
              li
                a(href='/hostings') Hosting
              li
                a(href='/clientes') Customers
              li
                a(href='/') Contact
      .canvas__open
        span.fa.fa-bars
  // Header End
  // Hero Section Begin
  section.hero-section
    .hero__slider.owl-carousel
      .hero__item.set-bg(data-setbg='images/hero/hero-1.jpg')
        .container
          .row
            .col-lg-6
              .hero__text
                h5 Starting At Only $ 2.8/month
                h2
                  | Welcome to the best
                  br
                  |  hosting company
                a.primary-btn(href='#') Get started now
            .col-lg-6
              .hero__img
                img(src='images/hero/hero-right.png' alt='')
      .hero__item.set-bg(data-setbg='images/hero/hero-1.jpg')
        .container
          .row
            .col-lg-6
              .hero__text
                h5 Starting At Only $ 2.8/month
                h2
                  | Welcome to the best
                  br
                  |  hosting company
                a.primary-btn(href='#') Get started now
            .col-lg-6
              .hero__img
                img(src='images/hero/hero-right.png' alt='')
  // Hero Section End
  // Register Domain Section Begin
  section.register-domain.spad
    .container
      .row.d-flex.justify-content-center
        .col-lg-8
          .register__text
            .section-title
              h3 Register Your Domain Now!
            .register__form
              form(action='#')
                input(type='text' placeholder='ex: cloudhost')
                .change__extension
                  | .com
                  ul
                    li .net
                    li .org
                    li .me
                button.site-btn(type='submit') Search
            .register__result
              ul
                li
                  | .com 
                  span $1.95
                li
                  | .net 
                  span $1.95
                li
                  | .org 
                  span $1.95
                li
                  | .us 
                  span $1.95
                li
                  | .in 
                  span $1.95
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              | labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
  // Register Domain Section End
  // Services Section Begin
  section.services-section.spad
    .container
      .row
        .col-lg-12
          .section-title
            h3 Choose the right hosting solution
      .row
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            h5 Shared Hosting
            span Starts At $1.84
            p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            h5 Wordpress Hosting
            span Starts At $1.84
            p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            h5 Dedicated Hosting
            span Starts At $1.84
            p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            h5 SSL certificate
            span Starts At $1.84
            p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            h5 Web Hosting
            span Starts At $1.84
            p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-lg-4.col-md-4.col-sm-6
          .services__item
            h5 Cloud server
            span Starts At $1.84
            p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  // Services Section End
  // Pricing Section Begin
  section.pricing-section.spad
    .container
      .row
        .col-lg-7.col-md-7
          .section-title.normal-title
            h3 Choose your plan
        .col-lg-5.col-md-5
          .pricing__swipe-btn
            label.active(for='month')
              | Monthly
              input#month(type='radio')
            label(for='yearly')
              | Yearly
              input#yearly(type='radio')
      .row.monthly__plans.active
        .col-lg-3.col-md-6.col-sm-6
          .pricing__item
            h4 Started
            h3
              | $15.90 
              span / month
            ul
              li 2,5 GB web space
              li Free site buiding tools
              li Free domain registar
              li 24/7 Support
              li Free marketing tool
              li 99,9% Services uptime
              li 30 day money back
            a.primary-btn(href='#') Choose plan
        .col-lg-3.col-md-6.col-sm-6
          .pricing__item
            h4 Business
            h3
              | $25.90 
              span / month
            ul
              li 90 GB web space
              li Free site buiding tools
              li Free domain registar
              li 24/7 Support
              li Free marketing tool
              li 99,9% Services uptime
              li 30 day money back
            a.primary-btn(href='#') Choose plan
        .col-lg-3.col-md-6.col-sm-6
          .pricing__item
            h4 Premium
            h3
              | $35.90 
              span / month
            ul
              li 150 GB web space
              li Free site buiding tools
              li Free domain registar
              li 24/7 Support
              li Free marketing tool
              li 99,9% Services uptime
              li 30 day money back
            a.primary-btn(href='#') Choose plan
        .col-lg-3.col-md-6.col-sm-6
          .pricing__item
            h4 Dedicated
            h3
              | $45.90 
              span / month
            ul
              li Unlimited web space
              li Free site buiding tools
              li Free domain registar
              li 24/7 Support
              li Free marketing tool
              li 99,9% Services uptime
              li 30 day money back
            a.primary-btn(href='#') Choose plan
      .row.yearly__plans
        .col-lg-3.col-md-6.col-sm-6
          .pricing__item
            h4 Started
            h3
              | $150 
              span / month
            ul
              li 2,5 GB web space
              li Free site buiding tools
              li Free domain registar
              li 24/7 Support
              li Free marketing tool
              li 99,9% Services uptime
              li 30 day money back
            a.primary-btn(href='#') Choose plan
        .col-lg-3.col-md-6.col-sm-6
          .pricing__item
            h4 Business
            h3
              | $250 
              span / month
            ul
              li 90 GB web space
              li Free site buiding tools
              li Free domain registar
              li 24/7 Support
              li Free marketing tool
              li 99,9% Services uptime
              li 30 day money back
            a.primary-btn(href='#') Choose plan
        .col-lg-3.col-md-6.col-sm-6
          .pricing__item
            h4 Premium
            h3
              | $350 
              span / month
            ul
              li 150 GB web space
              li Free site buiding tools
              li Free domain registar
              li 24/7 Support
              li Free marketing tool
              li 99,9% Services uptime
              li 30 day money back
            a.primary-btn(href='#') Choose plan
        .col-lg-3.col-md-6.col-sm-6
          .pricing__item
            h4 Dedicated
            h3
              | $450 
              span / month
            ul
              li Unlimited web space
              li Free site buiding tools
              li Free domain registar
              li 24/7 Support
              li Free marketing tool
              li 99,9% Services uptime
              li 30 day money back
            a.primary-btn(href='#') Choose plan
  // Pricing Section End
  // Achievement Section Begin
  section.achievement-section.set-bg.spad(data-setbg='images/achievement-bg.jpg')
    .container
      .row
        .col-lg-3.col-md-3.col-sm-6
          .achievement__item
            span.fa.fa-user-o
            h2.achieve-counter 2468
            p Clients
        .col-lg-3.col-md-3.col-sm-6
          .achievement__item
            span.fa.fa-edit
            h2.achieve-counter 2468
            p Domains
        .col-lg-3.col-md-3.col-sm-6
          .achievement__item
            span.fa.fa-clone
            h2.achieve-counter 2468
            p Server
        .col-lg-3.col-md-3.col-sm-6
          .achievement__item
            span.fa.fa-cog
            h2.achieve-counter 2468
            p Installs
  // Achievement Section End
  // Work Section Begin
  section.work-section.spad
    .container
      .row
        .col-lg-12
          .section-title
            h3 HOW TO BUILD YOUR WEBSITE ONLINE TODAY?
          .work__text
            .row
              .col-lg-6
                .work__item
                  i.fa.fa-desktop
                  span CREATE YOUR OWN WEBSITE WITH OUR
                  h3 WEB SITE BUILDER
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    | incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                    | gravida facilisis.
                  a.primary-btn(href='#') Read More
              .col-lg-6
                .work__item
                  i.fa.fa-shopping-bag
                  span EASY CREATE, MANAGE &amp; SELL
                  h3 ONLINE STORE
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    | incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                    | gravida facilisis.
                  a.primary-btn(href='#') Read More
  // Work Section End
  // Choose Plan Section Begin
  section.choose-plan-section.spad
    .container
      .row
        .col-lg-6.col-md-6
          img(src='images/choose-plan.png' alt='')
        .col-lg-6.col-md-6
          .plan__text
            h3 up to 70% discount with free domain name registration included!
            ul
              li
                span.fa.fa-check
                |  FREE Domain Name
              li
                span.fa.fa-check
                |  FREE Email Address
              li
                span.fa.fa-check
                |  Plently of disk space
              li
                span.fa.fa-check
                |  FREE Website Bullder
              li
                span.fa.fa-check
                |  FREE Marketing Tools
              li
                span.fa.fa-check
                |  1-Click WordPress Install
            a.primary-btn(href='#') Get start now
  // Choose Plan Section End
  // Footer Section Begin
  footer.footer-section
    .footer__top
      .container
        .row
          .col-lg-6.col-md-6
            .footer__top-call
              h5 Need Help? Call us
              h2 +1 175 946 2316 096
          .col-lg-6.col-md-6
            .footer__top-auth
              h5 Join Now And Have Free Month Of Deluxe Hosting
              a.primary-btn(href='#') Log in
              a.primary-btn.sign-up(href='#') Sign Up
    .footer__text.set-bg(data-setbg='images/footer-bg.png')
      .container
        .row
          .col-lg-4.col-md-6.col-sm-12
            .footer__text-about
              .footer__logo
                a(href='./index.html')
                  img(src='images/logo.png' alt='')
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                | ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida viverra maecen
                | lacus vel facilisis.
              .footer__social
                a(href='#')
                  i.fa.fa-facebook
                a(href='#')
                  i.fa.fa-twitter
                a(href='#')
                  i.fa.fa-youtube-play
                a(href='#')
                  i.fa.fa-instagram
          .col-lg-2.col-md-6.col-sm-6
            .footer__text-widget
              h5 Company
              ul
                li
                  a(href='#') Company
                li
                  a(href='#') About Us
                li
                  a(href='#') Press &amp; Media
                li
                  a(href='#') News / Blogs
                li
                  a(href='#') Careers
          .col-lg-2.col-md-6.col-sm-6
            .footer__text-widget
              h5 Hosting
              ul
                li
                  a(href='#') Web Hosting
                li
                  a(href='#') Reseller Hosting
                li
                  a(href='#') VPS Hosting
                li
                  a(href='#') Dedicated Servers
                li
                  a(href='#') Cloud Hosting
          .col-lg-4.col-md-6.col-sm-12
            .footer__text-widget
              h5 cONTACT US
              ul.footer__widget-info
                li
                  span.fa.fa-map-marker
                  |  500 South Main Street Los Angeles,
                  br
                  |                                     ZZ-96110 USA
                li
                  span.fa.fa-mobile
                  |  125-711-811 | 125-668-886
                li
                  span.fa.fa-headphones
                  |  Support.hosting@gmail.com
        .footer__text-copyright
          p
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright &copy;
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved | This template is made with 
            i.fa.fa-heart(aria-hidden='true')
            |  by 
            a(href='https://colorlib.com' target='_blank') Colorlib
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
  // Footer Section End
  // Js Plugins
  script(src='javascripts/jquery-3.3.1.min.js')
  script(src='javascripts/bootstrap.min.js')
  script(src='javascripts/jquery.slicknav.js')
  script(src='javascripts/owl.carousel.min.js')
  script(src='javascripts/main.js')
