doctype html
head
  meta(charset='UTF-8')
  meta(name='description' content='Deerhost Template')
  meta(name='keywords' content='Deerhost, unica, creative, html')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title DEERHOST | Template
  // Google Font
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap' rel='stylesheet')
  // Css Styles
  link(rel='stylesheet' href='/stylesheets/bootstrap.min.css' type='text/css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css' type='text/css')
  link(rel='stylesheet' href='/stylesheets/elegant-icons.css' type='text/css')
  link(rel='stylesheet' href='/stylesheets/flaticon.css' type='text/css')
  link(rel='stylesheet' href='/stylesheets/owl.carousel.min.css' type='text/css')
  link(rel='stylesheet' href='/stylesheets/slicknav.min.css' type='text/css')
  link(rel='stylesheet' href='/stylesheets/style.css' type='text/css')
body
  block content
