extends ../layout

block content
    a.primary-btn.m-3(href="/servers") Volver

    br

    br
    .contact-form.spad
    .container
        .row
        .col-12
            h3.p-2 CREATE A SERVER
            form.p-2(action='/servers/create' method='post')
            
                input.m-1(type='text' name='serverId' placeholder='Server Id')

                br

                input.m-1(type='text' name='almacenamiento' placeholder='Almacenamiento')

                br

                input.m-1(type='text' name='ram' placeholder='RAM')

                br

                input.m-1(type='text' name='ubicacion' placeholder='Ubicación')

                br

                button.site-btn.m-2(type='submit') Create server
