extends ../layout

block content
    a.primary-btn.m-3(href="/servers/create") Nuevo servidor

    br

    br

    table.table
        
        thead

            tr
            
                th(scope='col') #

                th(scope='col') Almacenamiento

                th(scope='col') RAM

                th(scope='col') Ubicación

        tbody

            each server in servers

                tr

                    td(scope='row')= server.serverId

                    td= server.almacenamiento

                    td= server.ram

                    td= server.ubicacion

                    td  
                        form.inline(method='get' action="servers/" + server._id + "/update")
                            input(type="hidden" name="id" value=server._id)

                            button.primary-btn(type="submit" class="btn")

                                ="Actualizar"
                    
                    td  
                        form.inline(method='post' action="servers/" + server._id + "/delete")
                            input(type="hidden" name="id" value=server._id)

                            button.primary-btn(type="submit" class="btn")

                                ="Eliminar"