extends ../layout

block content
    a.primary-btn.m-3(href="/servers") Volver

    br

    br
    .contact-form.spad
    .container
        .row
        .col-12
            h3.p-2 UPDATE A SERVER
            form.p-2(action=`/servers/${server._id}/update` method='post')
            
                input.m-1(type='text' name='serverId' placeholder='Server Id' value=server.serverId)

                br

                input.m-1(type='text' name='almacenamiento' placeholder='Almacenamiento' value=server.almacenamiento)

                br

                input.m-1(type='text' name='ram' placeholder='RAM' value=server.ram)

                br

                input.m-1(type='text' name='ubicacion' placeholder='Ubicación' value=server.ubicacion)

                br

                button.site-btn.m-2(type='submit') Update server
