extends ../layout

block content
    table.table
        
        thead

            tr
            
                th(scope='col') Cliente

                th(scope='col') Servidor

                th(scope='col') Desde

                th(scope='col') Hasta

        tbody

            each hosting in hostings

                tr

                    td(scope='row')= hosting.cliente

                    td= hosting.servidor

                    td= hosting.desde

                    td= hosting.hasta