extends ../layout

block content
  a.primary-btn(href='/clientes/create') Nuevo Cliente

  br
  br

  table.table
    thead
      tr  
        th(scope='col') #
        th(scope='col') Nombre
        th(scope='col') Email
        th(scope='col') Verificado
        th(scope='col')
        th(scope='col')
    tbody
      each cliente in clientes
        tr
          td(scope='row') 
            = cliente.id
          td= cliente.nombre
          td= cliente.email
          td= cliente.verificado ? 'SI' : 'NO'
          td
            a.primary-btn(href= 'clientes/' + cliente.id + '/update') Editar
          td
            form.inline(method='post' action='clientes/' + cliente.id + '/delete')
                input(type='hidden' name='id' value= cliente.id)
                button.primary-btn(type='submit' name='submit_param' value='submit_value' class='btn')
                    = 'Eliminar'

  
