extends ../layout

block content
  a(href='/clientes') Volver

  br
  br
  br

  h1  Actualizando Cliente

  br
  br

  form(action=`/clientes/${cliente.id}/update` method='post')
    .form-group
        label(for='nombre') Nombre: 
        input#nombre.form-control(type='text' name='nombre' value= cliente.nombre class=errors.nombre ? 'is-invalid' : '')
        if errors.nombre
            small#nombreHelp.text-danger
               = errors.nombre.message  
    
    
    br
    br
    input.primary-btn(type='submit' value='OK')
